/* Colors */
$coral: #BE95C4;
$offwhite: #F7F0F0;
$charcoal: #2A3D45;
$yellow: #F4E87C;

/* Font families */
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: 'DM Serif Display', serif;

/* Reset CSS defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
}

button {
  background: transparent;
  border: none;
}

body, html {
  color: $charcoal;
  background-color: $offwhite;
  font-family: $font-sans;
  font-size: 18px;
  font-weight: 500;
}
.body{
  width: 100%;
  min-height: calc(100vh - 66px - 88px - 50px);
}

/*
 * Global page header
 */
.header {
  display: flex;
  width: 100%;
  height: 66px;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background: $coral;

  &__name {
    width: 150px;
    font-size: 32px;
    font-family: $font-serif;
    font-style: italic;
    text-decoration: none;

    &:before {
      content: "Stacey Wu";
    }
    &:hover:before {
      font-style: normal;
      content: "吴郑";
    }
  }
  &__links {
    display: flex;

    li a {
      margin: 0 0 0 12px;
      font-weight: 700;
      text-decoration: none;
      transition: .1s;
      &:hover {
        border-bottom: 4px solid $yellow;
      }
    }
  }
}

/*
 * Global page footer
 */
 .footer {
  display: flex;
  width: 100%;
  height: 88px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: $coral;

  .link{
    margin: 10px;
    .logo{
      height: 40px;
      width: 40px;
    }
  }

}

/*
 * Page title element
 */
.page-title {
  width: 100%;
  margin-top: 50px;
  text-align: center;

  h1 {
    font-size: 32px;
    font-family: $font-serif;
    font-style: italic;
  }
  h2{
    font-size: 16px;
    font-family: $font-serif;
    font-style: italic;
  }
  p {
    font-size: 16px;
    font-weight: 800;
    color: $coral;
  }
}

/*
 * Timeline page
 */
.timeline {
  display: block;
  width: 100%;
  padding: 100px 24px;
  position: relative;

  &__title {
    margin-bottom: -15px;
    z-index: 1;
    position: relative;
  }

  $line-color: $charcoal;
  &:before {
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    background: $line-color;
    content: "";
  }
  &:after {
    display: block;
    width: 2px;
    height: 100px;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    background: linear-gradient(180deg, rgba(247,240,240,1) 0%, rgba(247,240,240,0) 100%);
    content: "";
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
      flex-direction: row;
      .brief {
        align-items: flex-end;
        text-align: right;
      }
      .detail {
        align-items: flex-start;
        text-align: left;
      }
    }
    &.right {
      flex-direction: row-reverse;
      .brief {
        align-items: flex-start;
        text-align: left;
      }
      .detail {
        align-items: flex-end;
        text-align: right;
      }
    }

    /* timeline items */
    .brief, .detail {
      display: flex;
      flex-direction: column;
      width: 320px;
      margin: 12px 0;
    }
    .brief {
      .logo {
        max-width: 240px;
        max-height: 100px;
        margin-bottom: 12px;
      }
      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 8px;
      }
      .data {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
        color: $coral;
        button {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .detail {
      opacity: 0;
      transition: .2s;
      font-style: italic;
    }
    &.show-detail .detail {
      opacity: 1;
    }

    /* timeline decoration */
    .dot {
      margin: 0 12px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $line-color;
      flex-shrink: 0;
    }
  }
}

/*
 * Timeline on small screens
 */
@media(max-width: 650px) {
  .timeline {
    &__hero {
      padding-left: 12px;
      text-align: left;
    }
    &:before, &:after {
      left: 12px;
    }
    li.left, li.right {
      flex-direction: column;
      position: relative;

      .brief, .detail {
        align-items: flex-start;
        text-align: left;
      }
      .detail {
        height: 0;
        margin-top: -8px;
      }
      &.show-detail {
        .detail {
          height: auto;
        }
      }
      .dot {
        position: absolute;
        top: 50%;
        left: -28px;
      }
    }
  }
}

/*
 * Portfolio page
 */
.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 60vh;

  .scroll-card {
    width: 95%;
    max-width: 800px;
    padding: 12px;
    margin-bottom: 32px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .title {
      font-size: 32px;
      font-family: $font-serif;
      font-style: italic;
      line-height: 34px;
      margin-bottom: 4px;
    }
    .subtitle {
      font-size: 18px;
      font-weight: 700;
      color: $coral;
      margin-bottom: 12px;
    }
    button {
      color: $coral;
      cursor: pointer;
    }

    /* markdown content */
    .content {
      & > * { margin-top: 8px; }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 20px;
        font-weight: 600;
      }
      img {
        display: block;
        width: 100%;
      }
      ul li {
        margin-left: 24px;
        list-style: disc;
      }
      ol li {
        margin-left: 28px;
        list-style: decimal;
      }
    }
  }
}
